* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  position: relative;
  width: 800px;
  min-height: 730px;
  border: 10px solid lightgrey;
  border-radius: 10px;
  background: url(../img/back.png);
  background-size: 100%;
}

.messages-field {
  position: absolute;
  padding: 15px;
  top: 25px;
  right: 25px;
  max-width: 550px;
  min-width: 550px;
  min-height: 530px;
  max-height: 650px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: white;
}

.messages-content {
  margin-bottom: 15px;
  max-width: 100%;
  min-width: 100%;
  min-height: 450px;
  max-height: 450px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.message-input {
  padding-right: 40px;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid gray;
  padding-left: 10px;
  outline: none;
}

.users {
  position: absolute;
  padding: 10px;
  top: 75px;
  left: 25px;
  max-width: 300px;
  min-width: 300px;
  min-height: 300px;
  max-height: 300px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: white;
}

.hide {
  display: none;
}

h3 {
  color: grey;
  text-align: center;
}

.btn {
  width: 250px;
  height: 40px;
  margin-top: 25px;
  margin-left: 100px;
  background-color: white;
  border-radius: 10px;
}

.message-item {
  margin-bottom: 15px;
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.my-message {
  text-align: right;
}

.time {
  margin-bottom: 5px;
  font-size: 60%;
}

.input-file {
  position: absolute;
  top: 650px;
}

.input-container {
  position: relative;
}

.input-file-tag {
  display: block;
  background-image: url(../img/input-tag.png);
  background-size: 100%;
  position: absolute;
  top: 5px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.image {
  max-width: 250px;
}

.video {
  max-width: 350px;
}

.image,
.video,
.audio {
  padding-bottom: 20px;
}

.text-message-back {
  background-color: #b7ffb7;
}

.file-message-back {
  background-color: rgb(188, 210, 228);
}

div[data-type="image"]:hover > a,
div[data-type="audio"]:hover > a,
div[data-type="video"]:hover > a {
  display: block;
}

.download-link {
  position: absolute;
  bottom: 10px;
  right: 15px;
  text-decoration: none;
  color: lightgray;
}

.sort-input {
  padding-right: 40px;
  margin-bottom: 25px;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid gray;
  padding-left: 10px;
  outline: none;
}

.new-link {
  display: blick;
}
